body {
    background-color: silver;
    color: white;
    padding: 20px;
    
}
h1 {
    background-color: #ffffff;
    
    color: #64645A;
    padding: 5px;
    margin: 0px;
}
p{
    padding: 5px;
    margin: 0px;
}
p.one{
    background-color:  rgb(0,136,221);
    
}
p.two{
    background-color: rgba(0, 149, 226);
}
p.three{
    background-color: rgb(0, 165, 233);
}
p.four{
    background-color: rgb(23, 179, 243);
}
p.five{
    background-color: rgb(44, 185, 250);
}
p.six{
    background-color: rgb(45, 195, 255);
}
p.seven{
    background-color: rgb(46, 208, 255);
}
p.eight{
    background-color: rgb(78, 167, 137);
}
p.nine{
    background-color: rgb(230, 178, 202);
}
p.ten{
    background-color: rgb(231, 162, 190);
}
p.ele{
    background-color: rgb(232, 156, 180);
}
p.twel{
    background-color: rgb(233, 143, 162);
}
p.thirt{
    background-color: rgb(234, 129, 140);
}
p.fourt{
    background-color: rgb(235, 95, 127);
}
p.fif{
    background-color: rgb(234, 60, 120);
}